.headerSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(216, 246, 179);
}
.headerSearch-search {
  margin-right: 25px;
}
.headerSearch-search input {
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  width: 200px;
  height: 35px;
}
.headerSearch-search span {
  font-size: 25px;
}
